[Unit]
Description=s0 logger
After=network.target

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python3 -u s0_logger.py
WorkingDirectory=/home/pithu/projects/energy-meter-s0
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
